{% extends 'base.html' %}
{% load static %}
{% block title %}
  Информация о сайте
{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-body">
      <p class="card-text">Добро пожаловать на наш сайт, посвящённый зданиям и архитектуре! 
        <p>Этот проект был создан в рамках производственной практики студента Морозова Александра Александровича из группы АИ-21-1.
        <p>Целью данного проекта является получение координат входа в здание по заданным координатам самого здания. Мы стремимся разработать эффективные методы и инструменты для точного определения входных точек, что может быть полезно для различных приложений, таких как навигационные системы, картографические сервисы и городское планирование.
        Сайт написан на Django, что обеспечивает его надёжность и гибкость. Мы надеемся, что наш сайт станет для вас интересным и полезным ресурсом. Благодарим вас за посещение и желаем приятного просмотра!</p>
    </div>
    <img src="{% static 'img/city.jpg' %}" width="800" height="500" style="margin: 0 auto 20px auto;">
  </div>
{% endblock %}